# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
# .git/info/exclude

**/pull_request_template.md
**/issue_template.md
**/target/
**/bin/
**/META-INF/**

#Eclipse
**/.metadata
**/.project
**/.settings/
**/.classpath
**/.recommenders/**
**/Servers
**/.springBeans
**/*.properties

# Maven
log/
target/

#Intellij
.idea/
*.iml
*.iws

#Package Files
*.war
*.jar

#IDEA
**/.idea/
**/*.iml

#AngularJS
**/.tern-project

#Mac
#
.DS_Store
/.recommenders/

# IDEs and editors
.c9/
*.launch
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
**/.code-workspace

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

# System Files
Thumbs.db
#Hibernate 
hibernate.cfg.xml

#node modules
**/node_modules