/* Layout */
.main-content {
  margin-top: 50px;
  padding-right: 0px;
  padding-bottom: 0px;
}
.row {
  width:100%;
  margin-left: 0px;
  margin-right: 0px;
}
.stats {
  width:100%;
}
/* Card styling */
.card {
  box-shadow: 0px 2px 8px #BBBBBB;
  margin: 18px 0px;
}
.card-content {
  padding-bottom: 0px;
}
.card-stats {
  padding-left: 0px;
  padding-right: 0px;
}
.card-footer {
  padding-top: 0px;
}
/* Removes bullets and the padding that would normally be for the bullets */
ul {
  list-style-type: none;
  padding-left: 0;
}
/* Native image sizes */
.type {
  width: 48px;
  height: 16px;
}
.sprite {
  width: 96px;
  height: 96px;
  padding: 0px;
  margin: 0px;
}
/* Improve readability. Default is orange on white background. */

th {
  color: #111111;
}
/* Squeeze more space out of our tables */
table {
  font-size: 12px;
}
td input {
  width: 100px;
}
.form-group {
  margin-top: 0px;
}
.poke-search {
  margin-top: 0px;
  margin-left: 0px;
}
.pkmn-table {
  width: 100%;
  max-height: 600px;
}
.material-icons.md-18 { font-size: 18px; }
.ta-center { text-align: center; }
.no-padding {
  padding: 0px;
}