.row {
    width:100%;
  }
  .stats {
    width:100%;
  }
  .type {
    width: 48px;
    height: 16px;
  }
  .card-content {
    text-align: left;
  }
  ul {
    list-style-type: none;
    padding-left: 0;
  }