<div class="main-content">

  <div class="container-fluid">
    <!-- This button reveals or hides the attacks on your favTeam -->
    <button class="btn btn-secondary" (click)="toggleCollapse()">
      <i class="material-icons">dashboard</i>
      {{ expandOrCollapse ? 'Hide moves' : 'Show moves' }}
    </button>

    <div class="row">
      <!-- Loop through and print every Pokemon in favTeam -->
      <div class="col-lg-2 col-sm-4 col-xs-6" *ngFor="let pkmn of favTeam; let i = index" (click)="selectPokemon(pkmn)">
        <div class="card">
          <div class="card-header" data-background-color="orange">
            <img src="{{ favTeam[i].sprite_url }}" alt="" />
          </div>
          <div class="card-content">
            <img src="{{ favTeam[i].types[0] }}" alt="" class="type" />
            <img src="{{ favTeam[i].types[1] }}" alt="" class="type" />
            <h4 class="title">{{ favTeam[i].name }}</h4>
          </div>
          <div class="card-footer">
            <div class="stats" *ngIf="expandOrCollapse">
              <ul>
                <li *ngFor="let atk of favTeam[i].moveset">{{ atk }}</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-lg-7 col-md-12">
        <div class="card card-stats container-fluid">
          <div class="card-header card-chart" data-background-color="purple">
            <div class="ct-chart" id="emailsSubscriptionChart"></div>
          </div>
          <div class="card-content ta-center">
            <img class="sprite" src="{{ selectedPkmn.sprite_url }}" alt="" />
            <br/>
            <img src="{{ selectedPkmn.types[0] }}" alt="normal" class="type" />
            <img src="{{ selectedPkmn.types[1] }}" alt="none" class="type" />
            <h4 class="title">{{ selectedPkmn.name }}</h4>
          </div>
          <div class="card-footer">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead class="text-warning">
                  <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Category</th>
                    <th>Power</th>
                    <th>Acc</th>
                    <th>PP</th>
                    <th>Effect</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ selectedPkmn.moveset[0] }}</td>
                    <td>
                      <img src="{{ electric }}" class="type">
                    </td>
                    <td>
                      <img src="{{ special }}" class="type">
                    </td>
                    <td>95</td>
                    <td>100%</td>
                    <td>16</td>
                    <td>10% paralysis chance.</td>
                  </tr>
                  <tr>
                    <td>{{ selectedPkmn.moveset[1] }}</td>
                    <td>
                      <img src="{{ ice }}" class="type">
                    </td>
                    <td>
                      <img src="{{ special }}" class="type">
                    </td>
                    <td>95</td>
                    <td>100%</td>
                    <td>16</td>
                    <td>10% freeze chance.</td>
                  </tr>
                  <tr>
                    <td>{{ selectedPkmn.moveset[2] }}</td>
                    <td>
                      <img src="{{ fight }}" class="type">
                    </td>
                    <td>
                      <img src="{{ physical }}" class="type">
                    </td>
                    <td>--</td>
                    <td>100%</td>
                    <td>32</td>
                    <td>If hit by normal or fighting type attack, returns double damage.</td>
                  </tr>
                  <tr>
                    <td>{{ selectedPkmn.moveset[3] }}</td>
                    <td>
                      <img src="{{ normal }}" class="type">
                    </td>
                    <td>
                      <img src="{{ status }}" class="type">
                    </td>
                    <td>--</td>
                    <td>--</td>
                    <td>16</td>
                    <td>Heals self by 50% of max HP.</td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-5 col-md-12">
        <div class="card">
          <div class="card-title">
            <form class="row poke-search" role="search">
              <div class="form-group form-black is-empty col-sm-10 col-xl-10">
                <input [(ngModel)]="searchInput" name="searchInput" type="text" class="form-control"
                  placeholder="Filter by name">
                <span class="material-input"></span>
              </div>
              <button type="submit" class="btn btn-primary btn-round btn-just-icon">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
              </button>
            </form>
          </div>

          <div class="card-content table-responsive pkmn-table">
            <table class="table table-hover">
              <thead class="text-warning">
                <tr>
                  <th class="ta-center" *ngFor="let col of pkmnTableColNames; let i = index">
                    {{ col | titlecase }}<br/>
                    <i class="material-icons md-18" (click)="toggleSort(i)">{{ colSortIcons[i] }}</i>
                    </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pkmn of ((favTeam | pkmnSort:sortBy:ascending) | pkmnFilter: searchInput); let i = index">
                  <td class="ta-center">{{ pkmn.name }}</td>
                  <td class="ta-center">
                    <img src="{{ pkmn.types[0] }}" class="type">
                    <img src="{{ pkmn.types[1] }}" class="type">
                  </td>
                  <td class="ta-center" *ngFor="let stat of pkmn.stats">{{ stat }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>