<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <!-- Loop through and print every Pokemon in favTeam -->
      <div class="col-lg-4 col-xs-6" *ngFor="let pkmn of favTeam; let i = index">
        <div class="card card-stats">
          <div class="card-header btn" data-background-color="orange" (click)="selectPokemon(pkmn)" role="button">
            <img src="{{ favTeam[i].sprite }}" />
          </div>
          <div class="card-content ta-center" >
            <ul>
              <li *ngFor="let partner of partners[i]">{{ partner }}</li>
            </ul>
          </div>
            <div class="card-footer ta-left">
              <div>
                <img src="{{ types.img[types.name.indexOf(favTeam[i].types[0])] }}" alt="" class="type" />
                <img src="{{ types.img[types.name.indexOf(favTeam[i].types[1])] }}" alt="" class="type" />
                <h4 class="title">{{ favTeam[i].name }}</h4>
              </div>
            </div>
        </div>
      </div>
    </div>

  </div>
</div>