<footer>
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="mailto:email@example.com">
            Contact
          </a>
        </li>
        <li>
          <a href="https://www.revature.com">
            Revature
          </a>
        </li>
        <li>
          <a href="https://github.com/revatureclass/1802java-nick-project2-theelitefour">
            Github
          </a>
        </li>
        <li>
          <a href="https://www.veryobservantindeed.com">
            Observant, aren't you?
          </a>
        </li>
      </ul>
    </nav>
    <p class="copyright pull-right">
      &copy; {{test | date: 'yyyy'}}
      <a href="#">The Elite Four</a>
    </p>
  </div>
</footer>