<footer>
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://www.reddit.com/u/me">
            Contact
          </a>
        </li>
        <li>
          <a href="https://www.revature.com">
            Revature
          </a>
        </li>
        <li>
          <a href="https://github.com/revatureclass/1802java-nick-project2-theelitefour">
            Github
          </a>
        </li>
        <li>
          <a href="https://www.twitter.com">
            Follow Us
          </a>
        </li>
      </ul>
    </nav>
    <p class="copyright pull-right">
      &copy; {{test | date: 'yyyy'}}
      <a href="#">The Elite Four</a>
    </p>
  </div>
</footer>