<div class="main-content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header" data-background-color="red">
        <h4 class="title">Unique Types</h4>
        <p class="category">Here's a thing</p>

        <div *ngFor="let tmp of uniqueTypes">
            {{tmp.types}}
          </div>
          <p class="category">And Another...</p>

      </div>
      <div class="card-content"></div>
    </div>
    <div class="card">
      <div class="card-header" data-background-color="red">
        <h4 class="title">All Types</h4>

        <div *ngFor="let tmp of pokedex">
          {{tmp.types}}
        </div>

        <p class="category">And Another...</p>

      </div>
      <div class="card-content"></div>
    </div>
  </div>
</div>