<div class="main-content">
    <div class="container-fluid">
          <div class="row" *ngFor="let featTeam of pokeTeamArray">

            <div class="row">
              <!-- Loop through and print every Pokemon in favTeam -->
              <div class="col-lg-2 col-xs-4" *ngFor="let pkmn of featTeam; let i = index">
                <div class="card">
                  <div class="card-header btn" data-background-color="orange">
                    <img [src]="featTeam[i].sprite" alt="" />
                  </div>
        
                  <div class="card-content ta-center" (click)="selectTeamPokemon(i, pkmn)" role="button">
                    <img [src]="types.img[types.name.indexOf(featTeam[i].types[0])]" class="type" />
                    <img [src]="types.img[types.name.indexOf(featTeam[i].types[1])]" class="type" />
                    <h4 class="title">
                      {{ featTeam[i].name | titlecase}}
                    </h4>
                  </div>
        
                  <div class="card-footer ta-center">
                    <div class="stats">
                      <ul>
                        <li *ngFor="let atk of featTeam[i].moveset">
                          {{ atk }}
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>  
        <div class="card-footer">
        </div>
      </div>
</div>